#promo_banner {
  width: 100%;
  min-height: 1em;
  padding: 1.2em 2.4em;
  color: green;

  .promo_banner_content{
     padding: 0;
     width: 100%;
     text-align: center;
     @include desktop {
       font-size: 1.2em;

     }
     @include until($tablet){
       font-size:.9em;
     }




  }
}