  .homepage-featured__products {
        margin: .6em 0;
        @include until($desktop) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: .6em;
        }
        @include desktop{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: .6em;
        }
      & .homepage-featured__product {
          @extend .column;
          display:flex;
          justify-content: center;
          padding: 0;



      image {
        transition: .5s ease;
        &:hover  {
              opacity: 0.3;
                }


        @include desktop {
            width: 328px;
            height: 351px;
        }

      }
      }
      .featured__product-info {
          display: flex;
          justify-content: space-between;
      }
    }

    .homepage-featured__second-products{
        @extend .columns;
        padding: .6em;

        .homepage-featured__second-product {
            @extend .column;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 20em;
            margin: .6em;

            background: url('https://images.ctfassets.net/q602vtcuu3w3/5XmToQyhPOcymmCE6KW2Iy/506e1ddedf3a96e3bb30d4bee56fec7e/18-AUG-WK2_MGW_cs12.jpg') center;
            background-size: cover;
            @include desktop {
            width: 30em;
            height: 40em;
            }


        p {
            color: #fff;
            border-bottom: solid 2px $blue;
            display: inline;
            padding-bottom: 3px;
            font-size: 1.6em;
        &::after {
            content: " →";
        }
        }

        }
    }