   .homepage-full_width {
        display: flex;
        height: 41.5em;
        background: #4d4d4d;
        margin: .6em 0;
        @include until ($desktop) {
            flex-direction: column-reverse;
        }
        .hompage-full_width-message{
            @include until ($desktop) {
                background: #fff;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            .full_width-message-content {
                padding:2.4em;
                text-align: center;
                h2 {
                    font-size: 4.6em;
                    font-weight: bold;
                    line-height: 1;
                @include until ($desktop){
                    font-size: 2.4em;
                }
                }
                p {
                    font-size: 1.8em;
                    @include until ($desktop){
                        font-size: 1em;
                    }
                }
                .button {
                    margin: 1.2em auto;
                    border-radius: 2.6em;
                }
            }



        }
    }