.homepage-full_width{
    padding: 1.2em 0;
    h2 {
        text-align: center;
        font-size: 2em;
        padding: 1.2em;
    }
    .value_prop_container{
        @extend .columns;
        margin: 0;

    .value_prop{
        @extend .column;
        background: url('https://via.placeholder.com/350x450') center;
        text-align: center;
        margin: 0 .3em;
        margin-bottom: 1.2em;
        .content {
            h3 {
                font-size: 2em;
            }
            @include desktop{
                padding-top: 35em;
            }
            @include until ($desktop){
                padding-top: 25em
            }

        }
    }
    }

}