// these
 .homepage-instagram {
     display: flex;
        @extend .columns;
        @extend .is-multiline;

        margin: .6em 0;
        .title {
            @extend .column;
            @extend .is-12;
            text-align: center;
            padding: 1.2em;
            margin: 0 auto;

        }
        .title {
            overflow: hidden;
        }
        .title h2 {
            display: block;
            position: relative;
        }
        .title:hover  h2:after {
            background: #fff;
            display: block;
            content: "@roomify";
            padding-right: 1em;
            //position: relative;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            text-align: center;
        }

        .homepage-instagram-container{
            display: grid;
            grid-template-columns:  repeat(4, 1fr);
            margin: 1.2em 0;
            @include until ($desktop) {
                grid-template-columns:  repeat(2, 1fr);
                grid-gap: .6em;
            }

            .homepage-instagram-photos{
                @extend .column;
                background: #4d4d4d url('http://via.placeholder.com/350x350') center;

                @include until ($desktop) {
                    height: 12em;
                    width: 12em;
                    padding: 1.2em;
                }
                @include desktop {
                    height: 31em;
                    width: 30.5em;
                    margin: 0 .6em;
                }


            }
        }

    }