// these
 .homepage-instagram {
     display: flex;
        @extend .columns;
        @extend .is-multiline;
        justify-content: center;
        margin: .6em 0;
        .title {
            @extend .column;
            @extend .is-8;
            @extend .is-offset-4;
            text-align: center;
            padding: 1.2em;
        }
        .title {
            overflow: hidden;
        }
        .title h2 {
            display: block;
            position: relative;
            width: fit-content;
        }
        .title:hover  h2:after {
            background: #fff;
            display: block;
            content: "@roomify";
            padding-right: 1em;
            //position: relative;
            position: absolute;
            left: 0;
            top: 0;
            width: 5.2em;
        }

        .homepage-instagram-container{
            display: grid;
            grid-template-columns:  repeat(4, 1fr);
            margin: 1.2em 0;
            @include until ($desktop) {
                grid-template-columns:  repeat(2, 1fr);
                grid-gap: 1.2em;
            }

            .homepage-instagram-photos{
                @extend .column;
                background: #4d4d4d url('http://via.placeholder.com/350x350') center;

                @include until ($desktop) {
                    height: 12em;
                    width: 12em;
                    padding: 1.2em;
                }
                @include desktop {
                    height: 17.04em;
                    width: 17.04em;
                    margin: 1.2em;
                }


            }
        }

    }