// these
 .homepage-instagram {
        padding: 1.2em .6em;
        .title {
            text-align: center;
        }

        .homepage-instagram-container{
           
            .homepage-instagram-photos{
                background: #4d4d4d url('http://via.placeholder.com/350x350') center;

                @include until ($tablet) {

                    height: 35em;
                    margin-bottom: 1.2em;
                }

                @include desktop {
                    height: 31em;
                }


            }
        }

    }