    .message_box {
        @extend .columns;
        margin: .6em 0;
        color: #fff;

        .message_box1, .message_box2 {
            @extend .column;
            text-align: center;
            background: url('https://images.ctfassets.net/q602vtcuu3w3/4hmqTiwdOwyswgaSqoUumW/68bb16d433f0b00ba70108ec1b404cbc/wk2-mgw-3.jpg') center;
            box-sizing: content-box;
            display: flex;
            justify-content: center;
            align-items: center;
            h3{
                font-weight: bold;
                color:#fff;
                @include desktop{
                    font-size: 4.6em;
                    margin-bottom: 0;
                }
            }
            p {
                border-bottom: solid 2px;
                display: inline;
                padding-bottom: 3px;
            &::after {
                content: " →";
            }
            }
            @include desktop {
                height: 45em;
            }
            @include until($desktop) {
                margin-bottom: 1.2em;
                height: 17.04em;

                h3 {
                    line-height: 1;
                    font-size: 2em;
                    margin-bottom: 0;
                }

            }
        }

        .message_box1 {
        @include desktop {
        margin-right: .6em;
        }

        }
        .message_box2 {
            @include desktop {
                margin-left: .6em;
            }


        }
    }
