    .message_box {
        @extend .columns;
        margin: .6em;
        color: #fff;
        @include tablet {
            margin: 0;
        }

        .message_box1, .message_box2 {
            @extend .column;
            text-align: center;
            background: url('https://images.ctfassets.net/q602vtcuu3w3/4hmqTiwdOwyswgaSqoUumW/68bb16d433f0b00ba70108ec1b404cbc/wk2-mgw-3.jpg') center;
            box-sizing: content-box;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 45em;
            h3{
                font-weight: bold;
                color:#fff;
                @include desktop{
                    font-size: 4.6em;
                    margin-bottom: 0;
                }
            }
            p {
                border-bottom: solid 2px $blue;
                display: inline;
                padding-bottom: 3px;
                font-size: 1.6em;
                &:hover {
                     color: $blue;
                     border-bottom: solid 2px #fff;
                }
            &::after {
                font-family: "Fontawesome";
                margin-left: .3em;
                content: "\f061";
            }
            }
            @include tablet {
                height: 25em;
                margin: .6em;
                padding: .3em;

            }
            @include desktop {
                height: 45em;
            }
           
            @include until($tablet) {
                margin-bottom: 1.2em;
                height: 35em;

                h3 {
                    line-height: 1;
                    font-size: 2em;
                    margin-bottom: 0;
                }

            }
        }

        .message_box1 {
        @include desktop {
        margin-right: .6em;
        }
        @include tablet {
            margin-left: 0;
        }

        }
        .message_box2 {
            @include desktop {
                margin-left: .6em;
                
            }
            @include tablet {
                margin-right: 0;
            }


        }
    }
