$color-dark-gray: #999;

[data-tabs] {
  background: transparent;
  border: 0;
  display: flex;
  font-size: .845rem;
  font-weight: 500;
  letter-spacing: .075rem;
  padding: 0;
  text-transform: uppercase;
  color: $color-dark-gray;

  @include media-breakpoint-down(md) {
    font-size: .875rem;
  }

  > * {
    border: 1px solid transparent;
    cursor: pointer;
    padding: 5px 15px;

  }

  .active {
    border: 1px solid $color-dark-gray;
    border-top: 2px solid #222;
    border-bottom: 1px solid #fff;
    color: #111;
    @include media-breakpoint-down(md) {
      font-size: .845rem;
    }
  }
}

[data-panes] > * {
  border: 1px solid $color-dark-gray;
  display: none;
  padding: 5px 15px;

  //max-height: 350px;
  //overflow-x: scroll;
}

[data-panes] > .active {
  display: block;
  margin-top: -1px;
}
