.navbar {
  background: transparent;
}

.nav__section1, .navbar-brand, .nav__section2 {
    display: flex;
    align-items: center;
}
.nav__section2 {

  ul:first-child {
    padding: 0 2.4em;
    display: block;
     li {
      color: #00188A;
      font-family: "Sofia-Pro";
      font-weight: bold;
      font-size: 1.6em;
    }
  }
  ul {
    padding: 0 2.4em;
  }
}
nav{
    display: flex;
    justify-content: space-between;

    padding: 1em;
    //border: 1px solid #4d4d4d;
}
.nav {
    li {
    display: inline-block;
    }
}
#mobile-nav {
  @media screen and (min-width: $desktop){
    display: none;
  }
  .checkout {
    align-self: center;
  }
}
#desktop-nav {
  @media screen and (max-width: $desktop){
    display: none;
  }
  li  {
    a {
      padding: 0 2.4em;
      color: $blue;
      font-family: $sofia;
      font-weight: bold;
      font-size: 1.6em;
    }


  }
  .has-dropdown {
    ul{
      display: none;
    }
    &:hover {
      ul {
        display: block;
        position: absolute;
      }
    }
  }
  .admin {
    a {
      padding: 0 .6em !important;
    }
  }
}

#navMenu {
  position: absolute;
  width: 100vw;
  top:5em;
  left: 0;
  padding:1.2em;


  form {
    border-bottom: 1px solid $blue;
    display: flex;
    justify-content: space-between;
    .search-input {

      width: 100%;
    }

    input, button {
      background: none;
      border: none;
    }
  }


  .main-menu li{
    padding: 1em;
    border-bottom: 1px solid $primary;
  }
}
.mobile-contact{
  display: flex;
  justify-content: space-between;

  ul {
    align-self: flex-end;
  }
  li {
    padding: 0 1.6em;
    border: none;
    display: inline-block;
  }
}