  footer {
    background: $light-grey;
    margin-top: .6em;

    @include desktop {
        padding: 2.4em 3.2em;
    }
    .footer {
        background: none;
    @include until ($desktop) {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        padding: 0;
        padding-bottom: 6em;
        margin: 0;
        width: 100%;
    }
    @include desktop {
        min-height: 20.6em;
    }
    }

    .footer_links {
        @extend .columns;
        @include until ($desktop) {
            margin: 0 .6em;
        }
    }
    .footer_signup {
        //display: flex;
        align-content: center;
        justify-content: center;

        h2, form{
            width: 90%;
            margin: 1.2em auto;
        }
        h2 {
            text-align: center;
        }

        h3 {
            font-size: 2.4em;
            font-weight: bold;
            line-height: 1;
            @include until ($desktop){
                padding: 0 2.2em;
                padding-left: .6em;
                text-align: left;
            }
        }

        .has-addons {
            .input, .button {
                border: none;
                background: none;
                border-bottom: 2px solid $blue;
                border-radius: 0;
            }
            .input {
                box-shadow: none;
                border-radius: 0;

            }
            .button::after {
                padding-left: .3em;
                content: " →"
            }
        }

    }
    .social {
        @extend .is-narrow-mobile;
        display: flex;
        justify-content: center;

        @include desktop {
        justify-content: flex-start;
        li {
           display: inline-block;

            margin: 0 1.2em;

        }

       li:first-child {
           margin-left: 0;
       }
    }
   }
  }