.headerTop {
  @include desktop {
    position: relative;
    top: 7em;
    margin-top: -6em;
  }
}

.header_top {
  background: url('https://cdn.shopify.com/s/files/1/0019/0149/4316/files/CASPER-19.jpg?12220869412334734762') center no-repeat;
  background-size: cover;
  @include desktop {
  height: 65.8em;
  }
@include until($desktop){
  height: 20em;
}



}
.main_message {
  @extend .columns;
  text-align: center;
  display: flex;
  justify-content: center;
  text-align: center;

  @include desktop {
    position: absolute;
    margin: 2.4em auto;
    width: 100%;
    top: 20vh;
    text-align: center;
    padding: 2.4em;

    a.button {
      margin: 1.2em auto;
  border-radius: 2.6em;
      &:hover{
        background: $blue;
        color: #fff;
      }
    }
  }

  .content {
    margin: 1.2em auto;
    .intro {
      display: block;
      padding-top: 1.2em;

    }
    h2{
      //
      color: $blue;
      padding: 1.2em;
      padding-top: 0;
      padding-bottom: .2em;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 4.8em;
      @include desktop {
        color: #fff;
      }

    }
  }
}