
    .homepage-featured__content {
        @extend .columns;

        .homepage-featured__content-message{
            @extend .column;
            text-align: center;
            p {
              @include until ($desktop){
                  margin: 2.4em .6em;
                  margin-bottom: .6em;
                  padding-left: 0;
                  padding-right: 0 
              }
               margin: 2.4em 4.8em;
               margin-bottom: .6em;
               font-size: 2em;
               font-weight: bold;
               padding: 0 2.5em;
        
            }
        }
        a.button {
            border: none;
            background: none;
            border-bottom: 4px solid $blue;
            border-radius: 0;
            font-weight: bold;
            padding-right:0;
            padding-left: 0;
          }
          a.button::after {
            font-family: "Fontawesome";
            font-size: 1em;
            font-weight: normal;
            content: " \f061";
            margin-left: .6em;
            color: $blue;
          }
    }