<nav id="mobile-nav"class="navbar" role="navigation" aria-label="main navigation">
<div>
                          <a role="button" class="navbar-burger"
                        data-target="navMenu"
                          aria-label="menu" aria-expanded="false">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                          </a>
                        </div>
                        <div class="navbar-brand">
                          <a class="navbar-item" href="">
                            <svg id="Layer_1" data-name="Layer 1" width="100" height="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 491 131"><defs><style>.cls-1{fill:#001689;}</style></defs><title>Artboard 4 copy 2</title><rect class="cls-1" x="331.58" y="30.87" width="17.6" height="73.44"/><path class="cls-1" d="M400,30.87h20.12L436.75,78l17.73-47.11h20l-42.21,97.92H413.33l13.49-31.23Z"/><circle class="cls-1" cx="477.75" cy="93.34" r="10.97"/><circle class="cls-1" cx="340.38" cy="12.97" r="10.97"/><path class="cls-1" d="M161.77,28.29A39.19,39.19,0,1,0,201,67.48,39.18,39.18,0,0,0,161.77,28.29Zm0,62.21c-11.84,0-21.44-10.31-21.44-23s9.6-23,21.44-23,21.44,10.31,21.44,23S173.61,90.5,161.77,90.5Z"/><path class="cls-1" d="M76.82,28.35A39.19,39.19,0,1,0,116,67.53,39.18,39.18,0,0,0,76.82,28.35Zm0,62.21c-11.84,0-21.43-10.31-21.43-23s9.59-23,21.43-23,21.44,10.3,21.44,23S88.66,90.56,76.82,90.56Z"/><path class="cls-1" d="M35.62,28.35c-4.15,0-7.41.65-9.79,1.92s-4.72,3.64-7,7.08l-.27.37V30.87H2.41v73.44H20V62.5q0-16.41,16-17.08V28.35Z"/><path class="cls-1" d="M379.35,6.92a23,23,0,0,0-9.19,8.4q-3.92,5.9-4.57,15.55h-6.22V46.48h6.22v57.83h17.6V46.48h10.32V30.87H383.19a15.72,15.72,0,0,1,1.19-5.49,5.54,5.54,0,0,1,3.24-2.78,20.5,20.5,0,0,1,6.82-.86V4.4c-6.57,0-10.34.81-12.08,1.33A25.73,25.73,0,0,0,379.35,6.92Z"/><path class="cls-1" d="M321.28,56.4a33.68,33.68,0,0,0-3.62-13.62,29.24,29.24,0,0,0-18.74-13.69,35.77,35.77,0,0,0-7.27-.74c-1.4,0-2.74.08-4,.21A29.72,29.72,0,0,0,268,39.87c-6.64-11.58-20.23-11.58-20.23-11.58v0c-.38,0-.77,0-1.16,0a26.55,26.55,0,0,0-5.25.53A24.46,24.46,0,0,0,229,35.22,21.33,21.33,0,0,0,227.34,37V30.87H211.2v73.44h17.61V64a35.21,35.21,0,0,1,.6-6.81,16.72,16.72,0,0,1,3.64-8,14.36,14.36,0,0,1,2.72-2.36c.25-.18.52-.35.79-.51l.05,0a14.34,14.34,0,0,1,5.14-1.68l.6-.07h.12c.18,0,.36,0,.55,0h.35A13.94,13.94,0,0,1,255.08,51s0,.09.08.14l0,.05c.14.23.25.47.37.7s.28.62.4.93a20.09,20.09,0,0,1,.65,2,28.43,28.43,0,0,1,.64,3.44,38.16,38.16,0,0,1,.28,4.69v41.32h17.58V64.08a35.21,35.21,0,0,1,.6-6.81,16.54,16.54,0,0,1,3.64-8,14,14,0,0,1,2.71-2.36l.79-.52.06,0a14.34,14.34,0,0,1,5.14-1.68l.6-.07h.11c.19,0,.37,0,.56,0h.35a13.93,13.93,0,0,1,11.71,6.49l.08.13,0,.06c.14.22.25.47.37.7s.27.61.4.93c.24.65.46,1.32.65,2a28.11,28.11,0,0,1,.63,3.44,36.17,36.17,0,0,1,.29,4.68v41.29h17.6V60.11C321.43,58.83,321.37,57.6,321.28,56.4Z"/></svg>
                          </a>
                        </div>
                        <div class="checkout">
                          <a role="button" class=""
                        data-target="navMenu"
                          aria-label="menu" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="19" viewBox="0 0 15 19">
  <g fill="none" fill-rule="evenodd" stroke="#001489" stroke-linecap="square" stroke-width="2.093" transform="translate(1 1)">
    <polygon fill="#001489" points=".046 16.239 12.096 16.239 12.096 5.011 .046 5.011"/>
    <path d="M3.7504,6.4647 L3.7504,2.2387 C3.7504,1.0327 4.7364,0.0467 5.9414,0.0467 C7.1474,0.0467 8.1344,1.0327 8.1344,2.2387 L8.1344,6.4647"/>
  </g>
</svg>
                          </a>
                        </div>
                        <div class="navbar-menu" id="navMenu">
                                <div class="content">
                                        <form action="" method="post">
                                        <div class="search-input">
                                            <input type="text" name="" id="">
                                        </div>
                                            <div class="search-submit">
                                              <button><i class="fas fa-search"></i></button>
                                            </div>

                                        </form>
                                    </div>
                                <ul class="main-menu">
                                    <li><a href="">link 1</a></li>
                                    <li><a href="">link 2</a></li>
                                    <li><a href="">link 3</a></li>
                                    <li><a href="">link 4</a></li>
                                    <li><a href="">link 5</a></li>
                                    <li><a href="">link 6</a></li>
                                    <li><a href="">link 7</a></li>
                                    <li><a href="">link 8</a></li>
                                </ul>
                                <div class="mobile-contact columns">
                                    <div class="column">
                                        <span>Contact</span>
                                    </div>
                                    <div class="column">
                                        <ul>
                                            <li><a href=""><i class="fab fa-facebook"></i></a></li>
                                            <li><a href=""><i class="fab fa-instagram"></i></a></li>
                                            <li><a href=""><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                </div>
                      </nav>