@import "fonts";

//fonts
$frank: "Frank-Ruhl";
$kol:   "Kollektif";
$sofia:  "Sofia-Pro";

//colors
$red: #FF3B3A;
$body-color: #000335;
$blue: #00188A;
$light-grey: #F1F1F1;
$primary-color: $blue;



$font-size: 62.5%;