<section class="homepage-featured__products">
    <div class="homepage-featured__product">
        <div class="featured__product-content">
            <img src="https://picsum.photos/300/400" alt="">
            <div class="featured__product-info">
                <div class="featured__product-title">
                    <span>Product 1</span>
                </div>
                <span>$35.00</span>
            </div>
        </div>
    </div>
    <div class="homepage-featured__product">
        <div class="featured__product-content">
            <img src="https://picsum.photos/300/400" alt="">
            <div class="featured__product-info">
                <div class="featured__product-title">
                    <span>Product 1</span>
                </div>
                <span>$35.00</span>
            </div>
        </div></div>
    <div class="homepage-featured__product">
        <div class="featured__product-content">
            <img src="https://picsum.photos/300/400" alt="">
            <div class="featured__product-info">
                <div class="featured__product-title">
                    <span>Product 1</span>
                </div>
                <span>$35.00</span>
            </div>
        </div></div>
    <div class="homepage-featured__product">
        <div class="featured__product-content">
            <img src="https://picsum.photos/300/400" alt="">
            <div class="featured__product-info">
                <div class="featured__product-title">
                    <span>Product 1</span>
                </div>
                <span>$35.00</span>
            </div>
        </div></div>
</section>