<section class="homepage-full_width">
<h2>Discover the Roomify Difference</h2>

<div class="value_prop_container">
<div class="value_prop">
<div class="content">
<div class="description">
<h3>Innovative ergonomic alignment</h3>
<p>Designed to help allign your spine for a dep and restorative sleep</p>
</div>
</div>
</div>
<div class="value_prop">
<div class="content">
<div class="description">
<h3>Innovative ergonomic alignment</h3>
<p>Designed to help allign your spine for a dep and restorative sleep</p>
</div>
</div>
</div>
<div class="value_prop">
<div class="content">
<div class="description">
<h3>Innovative ergonomic alignment</h3>
<p>Designed to help allign your spine for a dep and restorative sleep</p>
</div>
</div>
</div>

</div>

</section>