<section class="homepage-full_width">
<h2>Discover the Roomify Difference</h2>

<div class="value_prop_container">
<div class="value_prop">
<div class="content">
<div class="description">
<span class="title">Innovative ergonomic alignment</span>
<span class="message">Designed to help allign your spine for a dep and restorative sleep</span>
</div>
</div>
</div>
<div class="value_prop">
<div class="content">
<div class="description">
<span class="title">Innovative ergonomic alignment</span>
<span class="message">Designed to help allign your spine for a dep and restorative sleep</span>
</div>
</div>
</div>
<div class="value_prop">
<div class="content">
<div class="description">
<span class="title">Innovative ergonomic alignment</span>
<span class="message">Designed to help allign your spine for a dep and restorative sleep</span>
</div>
</div>
</div>

</div>
<div class="cta">
    <a href="" class="button"> Shop for Bundles</a>
</div>


</section>