<section class="homepage-full_width columns">

    <div class="hompage-full_width-message column is-half-desktop is-offset-6-desktop">
        <div class="full_width-message-content is-multiline">
                <h2>your college
room in a box.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae hic perspiciatis consequuntur explicabo. </p>
                <a href="" class="button">Shop dorm bundles</a>
        </div>

    </div>
    <div class="column is-mobile"></div>
</section>