<section class="message_box">
 <div class=" message_box1">
 <div class="content">
    <p>message box 1</p>

 </div>

 </div>
 <div class=" message_box2">
    <div class="content">

    <p>message box 2</p>
    </div>

</div>
</section>