<section class="homepage-featured__second-products">
    <div class="homepage-featured__second-product">
           <div class="featured__product-content">

                            <h3>Product 1</h3>


                </div>
    </div>
    <div class="homepage-featured__second-product">
            <div class="featured__product-content">

                            <h3>Product 1</h3>


                </div>
    </div>
    <div class="homepage-featured__second-product">
            <div class="featured__product-content">

                            <h3>Product 1</h3>


                </div>
    </div>
</section>