<section class="socialProof">
<div class="social vendor1">
  <div class="content">
    <div class="image">
      <img src="https://via.placeholder.com/250x150" alt="">
    </div>
    <div class="description">
      <p>One of Time’s 25 Best Inventions of 2015</p>
    </div>
  </div>
</div>
<div class="social vendor2">
  <div class="content">
    <div class="image">
    <img src="https://via.placeholder.com/250x150" alt="">
    </div>
    <div class="description">
      <p>Good Housekeeping 2018 Lab Pick</p>
    </div>
  </div>
</div>
<div class="social vendor3">
  <div class="content">
    <div class="image">
    <img src="https://via.placeholder.com/250x150" alt="">
    </div>
    <div class="description">
      <p><i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i></p>
    </div>
  </div>
</div>
<div class="social vendor4">
  <div class="content">
    <div class="image">
    <img src="https://via.placeholder.com/250x150" alt="">
    </div>
    <div class="description">
      <p>“The perfect mattress, according to science.”</p>
    </div>
  </div>
</div>
<div class="social vendor5">
  <div class="content">
    <div class="image">
    <img src="https://via.placeholder.com/250x150" alt="">
    </div>
    <div class="description">
      <p>2017 Most Innovative Companies</p>
    </div>
  </div>
</div>

</section>