
<main class="footer columns">
<section class="footer_links columns ">
    <div class="column is-hidden-mobile">
        <h4>Shop</h4>
        <ul>
            <li><a href="">link 1</a></li>
            <li><a href="">link 2</a></li>
            <li><a href="">link 3</a></li>
            <li><a href="">link 4</a></li>
        </ul>
    </div>
    <div class="column is-hidden-mobile">
        <h4>Learn</h4>
            <ul>
                    <li><a href="">link 1</a></li>
                    <li><a href="">link 2</a></li>
                    <li><a href="">link 3</a></li>
                    <li><a href="">link 4</a></li>
                </ul>
    </div>
    <div class="column is-hidden-mobile">
    <h4>FAQ & Contact</h4>
            <ul>
                    <li><a href="">link 1</a></li>
                    <li><a href="">link 2</a></li>
                    <li><a href="">link 3</a></li>
                    <li><a href="">link 4</a></li>
                </ul>
    </div>

    <div class="column is-hidden-tablet">

            <ul>
                    <li><a href="">link 1</a></li>
                    <li><a href="">link 2</a></li>
                    <li><a href="">link 3</a></li>
                    <li><a href="">link 4</a></li>
                </ul>
    </div>

    <div class="column is-hidden-tablet">

            <ul>
                    <li><a href="">link 1</a></li>
                    <li><a href="">link 2</a></li>
                    <li><a href="">link 3</a></li>
                    <li><a href="">link 4</a></li>
                </ul>
    </div>

</section>
<section class="footer_signup column">
    <h3>we've got your back.</h3>
    <form action="">
            <div class="field has-addons">
                    <div class="control">
                      <input class="input" type="text" placeholder="Your email">
                    </div>
                    <div class="control">
                      <a class="button">
                        Submit
                      </a>
                    </div>
                  </div>
    </form>
    <div class="is-hidden-mobile">
<ul class="social">
    <li><a href="">facebook</a></li>
    <li><a href="">pintrest</a></li>
    <li><a href="">twitter</a></li>
    <li><a href="">instagram</a></li>
</ul>
</div>
</section>
</main>
<section class="is-hidden-tablet">
<ul class="social">
    <li><a href="">facebook</a></li>
    <li><a href="">pintrest</a></li>
    <li><a href="">twitter</a></li>
    <li><a href="">instagram</a></li>
</ul>
</section>