
<main class="footer">
<div class="footer_content">
    <section class="footer_links">
    <div class="section">
        <h3>Shop</h3>
        <ul>
        <li>link 1</li>
        <li>link 2</li>
        <li>link 3</li>
        <li>link 4</li>
    </ul>
    </div>
     <div class="section">
        <h3>Learn</h3>
        <ul>
        <li>link 1</li>
        <li>link 2</li>
        <li>link 3</li>
        <li>link 4</li>
    </ul>
    </div>
     <div class="section">
        <h3>FAQ & Contact</h3>
        <ul>
        <li>link 1</li>
        <li>link 2</li>
        <li>link 3</li>
        <li>link 4</li>
    </ul>
    </div>
    </section>
    <section class="footer_signup column">
    <h3>We've got your back.</h3>
    <form action="">
            <div class="field has-addons">
                    <div class="control">
                      <input class="input" type="text" placeholder="Your email">
                    </div>
                    <div class="control">
                      <a class="button">
                        Submit
                      </a>
                    </div>
                  </div>
    </form>
    <div class="is-hidden-mobile">
<ul class="social">
    <li><a href=""><i class="fab fa-facebook"></i></a></li>
    <li><a href=""><i class="fab fa-pinterest"></i></a></li>
    <li><a href=""><i class="fab fa-twitter"></i></a></li>
    <li><a href=""><i class="fab fa-instagram"></i></a></li>
</ul>
</div>
</section>
<div class="mobile_footer">
<div class="section">
    <ul>
        <li><a href="">link 1</a></li>
        <li><a href="">link 2</a></li>
        <li><a href="">link 3</a></li>
        <li><a href="">link 4</a></li>
    </ul>
</div>
<div class="section">
    <ul>
        <li><a href="">link 1</a></li>
        <li><a href="">link 2</a></li>
        <li><a href="">link 3</a></li>
        <li><a href="">link 4</a></li>
    </ul>
</div>

</div>
<ul class="mobile_social">
    <li><a href=""><i class="fab fa-facebook"></i></a></li>
    <li><a href=""><i class="fab fa-pinterest"></i></a></li>
    <li><a href=""><i class="fab fa-twitter"></i></a></li>
    <li><a href=""><i class="fab fa-instagram"></i></a></li>
</ul>
</div>


</main>