<section class="homepage-newsletter">
    <div class="homepage-newsletter-message">
        <h2>help your friends get their sheet together.</h2>
        <span class="subtitle">
            Send your friends $20 off their purchase.  Receive $20 once they’ve ordered.  It’s super easy.
        </span>
    </div>
    <div class="homepage-newsletter-form">
        <form action="">
            <div>
                <input type="text" name="" id="" placeholder="Your email">
            </div>
            <div>
                <input type="text" name="" id="" placeholder="Your first & last name">
            </div>
            <a href="" class="submit-button">submit</a>
        </form>
    </div>
</section>